---
const {title} = Astro.props;
import MainSidebar from '../components/MainSidebar.astro';
import { Image } from 'astro:assets';
import food from '../imgs/food.jpg';
import { SEO } from "astro-seo";
---

<html>
  <head>
    <SEO
    title="Shaw Lee Wisconsin Rapids"
    description="Shaw Lee - providing great Chinese and Japanese cuisine to Wisconsin Rapids for decades."
  />
    <title>Shaw Lee</title>
  </head>
  <body>
    <div class="home-grid">
      <MainSidebar />
      <div class="content-container">
          <div class="page">
              <slot />
          </div>
          <div class="image">
              <Image src={food} alt="Food photo" />
          </div>
      </div>
  </div>
  </body>
</html>


<style is:global>
 * {
    margin:0;
    padding:0;
  }

  :root {
    --sansSerif: "Candara", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    --primary-text-color: #333;
    --secondary-text-color: #555555;
    --primary-page-color: #f4f3f0;
    --accent-color: #c83030;
    --secondary-accent-color: #ccc;
  }

  body {
    font-family: var(--sansSerif);
    color: var(--primary-text-color);
    background-color: var(--primary-page-color);
    font-size: 16px;
    overflow-y: scroll;
  }

  @media (min-width: 800px) {
    body {
      font-size: 18px;
    }
  }
  .home-grid {
    display: flex;
    flex-direction: column; /* MainSidebar on top */
}

.content-container {
    display: flex;
    flex-direction: row; /* Align page and image side by side */
    gap: 14vw;
    width: 100%; /* Ensure full width usage */
}
  .page {
    margin: 0 auto;
  }
  .image {
    flex: 1; /* Allow the image div to take up less space */
    padding: 1rem;
    display: flex;
    align-items: center; /* Center the image vertically */
}


.image img {
    max-width: 38vw; /* Ensure the image does not overflow */
    height: auto; /* Maintain aspect ratio */
    border-radius: 7vw; /* Apply rounded corners */
    top: 40%;
    
}


  main {
    margin: 4rem;
    max-width: 500px;
  }

  h1.section-title {
    margin: 0;
    font-size: 3.0em;
    margin-bottom: 4rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  h1.section-title::after {
    content: '';
    display: block;
    width: auto;
    height: 10px;
    margin-top: 0.2em;
    margin-left: 1px;
    background-color: var(--accent-color);
  }

  h2.section-title {
    font-size: 2rem;
    margin: 2em 0 0 0;
    margin-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2.section-title::after {
    content: '';
    display: block;
    width: 120px;
    height: 6px;
    margin-top: 0.2em;
    margin-left: 1px;
    background-color: var(--accent-color);
  }

  .section-intro {
    margin-bottom: 6rem;
  }
  #phone {
    font-size: 2rem;
    margin: 2em 0 0 0;
    margin-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }

  #phone::after {
    content: '';
    display: block;
    width: auto;
    height: 6px;
    margin-top: 0.2em;
    margin-left: 1px;
    background-color: var(--accent-color);
  }
  #ptest {
    text-decoration: none;
    color: initial; /* Set the initial color */
    transition: color 0.3s ease; /* Add transition for color */
}

#ptest:hover,
#ptest:focus {
    color: lightcoral; /* Change this to your desired light red or pink color */
}

  a:link,
  a:visited {
    color: #000;
    text-decoration-color: var(--secondary-accent-color);
    text-decoration-thickness: 2px;
  }

  a:hover,
  a:focus {
    text-decoration-color: var(--accent-color);
  }
  a:active{
    text-color:var(--accent-color)
  }

  ul {
    list-style: none;
  }

</style>